.avatar-user {
  border: 10px;
  border-radius: 50%;
  margin: 0 auto 10%;
  top: 1rem;
}

.sidebar-nav {
  margin-top: 2rem;
}

.sidebar-sticky .copyright {
  margin-top: 40%;
}

.picture {
  margin: 0 auto;
}

.picture-caption {
  text-align: center
}
